<body>
  <div class='container'>
      <div class='row'>
          <div class='col-sm-12 mx-auto'>
              Welcome to Apples to Apples!
          </div>
      </div>

      <div class='row'>
          <div class='col-sm-2 mx-auto'>
              <a href='/player'>Player Page</a>
          </div>
          <br>
          <div class='col-sm-2 mx-auto'>
              <a href='/judge'>Judge Page</a>
          </div>
      </div>
  </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  function createPlayer() {
    $.post('/api/player-score',
      function(data) {
        if(data) {
          console.log('Welcome to Apples to Apples')
        } else {
          alert('Something went awry.')
        }
      })
  };
  
  $(document).ready(function() {
    createPlayer();
  });
</script>