<body style='text-align: center'>
  <div class='container'>
    <div class='row'>
      <div class='meme-card green-card green-card-judge col-sm-2 mx-auto'>
        This is the prompt card.
      </div>
      <div class='meme-card col-sm-2 mx-auto' id='judge-selected-card'>
        Selected card will appear here.
      </div>
    </div>

    <div class='row'>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card0'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card1'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card2'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card3'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card4'>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-4 mx-auto'>
        <a href='/home'>Return Home</a>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  function pullPrompt() {
    $.get('/api/prompt-cards/random', function(data) {
      var selectedPrompt = data.text;
      $('.green-card-judge').html(selectedPrompt);
    }).then(function() {
      var promptText = {text: $('.green-card-judge').html().toString()}
      $.post('/api/selected-prompt-card', promptText, function(datas) {
        if(datas) {
          alert('Welcome to Apples to Apples!');
        } else {
          alert('Something went awry');
        }
      }).then(function() {
        for(i = 0; i < 5; i++) {
          $(`#player-selected-card${i}`).attr('src', '');
        }
      });
    }
    );
  };

  $(document).ready(function() {
    pullPrompt();
  });

  function getCards() {
    $.get('api/selected-cards', function(cardData) {
      for(i=0; i < cardData.length; i++) {
        $(`#player-selected-card${i}`).attr('src', cardData[i].link);
      };
    })
  };

  setInterval(()=> { this.getCards() }, 5000);

  var judgeId = 0;
  var promptId = 1;

  $('.red-card-judge').on('click', function(event) {
    event.preventDefault();

    $.ajax({
      url: '/api/selected-cards',
      type: 'DELETE',
      success: function(data) {
        if(data) {
          console.log('Yay.');
        } else {
          console.log('Wtf.');
        }
      }
    });

    $.ajax({
      url: `/api/selected-judge-card/${judgeId++}`,
      type: 'DELETE',
      success: function(data) {
        if(data) {
          console.log('Yay.');
        } else {
          console.log('Wtf.');
        }
      }
    });

    var imgId = $(this).find('img').prop('id');

    $('#judge-selected-card').html($(this).contents());
    $('#judge-selected-card').find('img').attr('id', 'judge-card');

    var newImg = $(`<img style='max-width: 150px; max-height: 250px' id='${imgId}'>`);
    newImg.appendTo($(this));

    var judgeSelection = {
      link: $('#judge-selected-card').find('img').prop('src')
    };

    $.post('/api/selected-judge-card', judgeSelection, function(data) {
      if(data) {
        console.log('Yay!')
      } else {
        console.log('Wtf.');
      }
    });

    $.ajax({
      url: `/api/selected-prompt-card/${promptId++}`,
      type: 'DELETE',
      success: function(data) {
        if(data) {
          console.log('Yay.');
        } else {
          console.log('Wtf.');
        }
      }
    });
    
    pullPrompt();

    event.end();
  });
</script>