<body style='text-align: center'>
  <div class='container'>
    <div class='row'>
      <div class='meme-card green-card green-card-judge col-sm-2 mx-auto'>
        This is the prompt card.
      </div>
      <div class='meme-card col-sm-2 mx-auto' id='judge-selected-card'>
        Selected card will appear here.
      </div>
    </div>

    <div class='row'>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card0'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card1'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card2'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card3'>
      </div>
      <div class='meme-card red-card red-card-judge col-sm-2 mx-auto' id='red-card1'>
        <img style='max-width: 150px; max-height: 250px' id='player-selected-card4'>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-4 mx-auto'>
        <a href='/home'>Return Home</a>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  function getCards() {
    $.get('api/selected-cards', function(cardData) {
      for(i=0; i < cardData.length; i++) {
        $(`#player-selected-card${i}`).attr('src', cardData[i].link);
      };
    })
  };

  setInterval(()=> { this.getCards() }, 5000);

  $('.red-card-judge').on('click', function(event) {
    event.preventDefault();
    $('#judge-selected-card').html($(this).contents());

    $.ajax({ url: "api/player-score", method: "PUT" })
  });
</script>