<div class="log-form">
  <br>
  <h2>Login to your account</h2>
  <br>
  <form>
    <input type="text" title="username" placeholder="username"/>
    <input type="password" title="username" placeholder="password"/>
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
    <button type="submit" class="btn" id="newUser">Create Profile</button>
  </form>
</div>
