<div class='container'>
      <div class='row'>
          <div class='col-sm-12 mx-auto'>
              Create new account!
          </div>
      </div>

      <div class='row'>
          <div class='col-sm-2 mx-auto'>
              <a href='/home'>Start Game</a>
          </div>
      </div>
  </div>