<body style='text-align: center'>
  <div class='container'>
    <div class='row'>
      <div class='meme-card green-card green-card-player col-sm-2 mx-auto'>
        This is the prompt card.
      </div>
      <div class='meme-card col-sm-2 mx-auto' id='selected-card'>
        Selected card will appear here.
      </div>
    </div>

    <div class='row'>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto'>
        <img style='max-width: 150px; max-height: 250px' id='red-card0'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto'>
        <img style='max-width: 150px; max-height: 250px' id='red-card1'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto'>
        <img style='max-width: 150px; max-height: 250px' id='red-card2'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto'>
        <img style='max-width: 150px; max-height: 250px' id='red-card3'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto'>
        <img style='max-width: 150px; max-height: 250px' id='red-card4'>
      </div>
    </div>

    <div class='row'>
      <div class='points-div col-sm-4 mx-auto'>
        You currently have <span id='player-points'></span> points.
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-4 mx-auto'>
        <a href='/home'>Return Home</a>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  function pullScore() {
    $.get('api/user_info', function(data) {
      $('#player-points').html(data.score);
    });
  };

  function pullMemes() {
    $.get('/api/all-memes', function(data) {
      var selectedMemes = getRandom(data, 5);
      for(i=0; i < selectedMemes.length; i++) {
        $(`#red-card${i}`).attr('src', selectedMemes[i].link)
      }
    })
  };

  function getRandom(arr, n) {
    var result = new Array(n),
        len = arr.length,
        taken = new Array(len);
    if (n > len)
        throw new RangeError("getRandom: more elements taken than available");
    while (n--) {
        var x = Math.floor(Math.random() * len);
        result[n] = arr[x in taken ? taken[x] : x];
        taken[x] = --len in taken ? taken[len] : len;
    }
    return result;
  };

  $(document).ready(function() {
    pullMemes();
  });

  $('.red-card-player').on('click', function(event) {
    event.preventDefault();

    var selectedCard = {
      link: $(this).find('img').prop('src')
    };

    $.post('api/selected-cards', selectedCard,
      function(data) {
        if(data) {
          alert('Your card sent to the judge!');
        } else {
          alert('Pick a different card.');
        }
      }
    );

    $('#selected-card').html($(this).contents());
  });
</script>
