<body>
  <div class='container'>
    <div class='row'>
      <div class='meme-card green-card green-card-player col-sm-2 mx-auto'>
        This is the prompt card.
      </div>
      <div class='meme-card col-sm-2 mx-auto' id='selected-card'>
        Selected card will appear here.
      </div>
    </div>

    <div class='row'>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto' id='red-card1'>
        <img src='https://pbs.twimg.com/media/DXbemHyVMAAb3v0.jpg'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto' id='red-card2'>
        <img src='https://pbs.twimg.com/media/Dbu2bInVwAABRto.jpg'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto' id='red-card3'>
        <img src='https://pbs.twimg.com/media/Dgod7B4UYAEB0U6.jpg'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto' id='red-card4'>
        <img src='https://pbs.twimg.com/media/DluiUn0X0AQqQkY.jpg'>
      </div>
      <div class='meme-card red-card red-card-player col-sm-2 mx-auto' id='red-card5'>
        <img src='https://pbs.twimg.com/media/DgqwSzhXUAEyShm.jpg'>
      </div>
    </div>

    <div class='row'>
      <div class='points-div col-sm-4 mx-auto'>
        You currently have <span id='player-points'></span> points.
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  function pullScore() {
    $.ajax({ url: '/api/player-score', method: 'GET'})
      .then(function(scoreData) {
        $('#player-points').html(scoreData[0].score);
      })
  };

  $(document).ready(function() {
    pullScore();
  });

  $('.red-card-player').on('click', function(event) {
    event.preventDefault();

    var selectedCard = {
      link: $(this).find('img').prop('src')
    };

    $.post('api/selected-cards', selectedCard,
      function(data) {
        if(data) {
          alert('Your card sent to the judge!');
        } else {
          alert('Pick a different card.');
        }
      })

    $('#selected-card').html($(this).contents());
  });
</script>
