body {
  text-align: center;
}

img {
  max-width: 150px;
  max-height: 250px;
}

.meme-card {
  border: 1px solid black;
  margin-top: 20px;
  height: 260px;
  align-items:center;
  justify-content:center;
}

.points-div {
  margin-top: 20px;
}